{% layout "layout.liquid" %} 

{% block content %}

    <div>
        <form action="/anime/{{anime._id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit {{anime.title}}</legend>
              
            <label>
                Title:<input
                type="text"
                name="title"
                placeholder="Anime Title"
                value="{{anime.title}}"
                />
            </label>

            <label>
                Description:<input
                type="text"
                name="description"
                placeholder="Anime Description"
                value="{{anime.description}}"
                />
            </label>

            <label>
                Photo:<input type="| img_url: 'medium'" 
                name="img" 
                placeholder="Photo URL"
                value="{{anime.img}}"
                />
            </label>

            <label>
                Video:<input
                type="text"
                name="video"
                placeholder="Video Link"
                value="{{anime.video}}"
                />
            </label>
        </fieldset>
        <input type="submit" value="Update {{anime.title}}"/>
        <a href="/anime/"><button>Cancel</button></a>
        </form>
    </div>
{% endblock %}