{% layout "layout.liquid" %} 

{% block content %}
      <div>
        
        <iframe  width="100%" height="820"
        src={{anime.video}}>
       </iframe>
       
        <article>

            <h2>{{anime.title}}</h2>
            
            <img src={{anime.img}}>
       
           <!-- <video id="videoPlayer" width="650" controls muted="muted" autoplay>
            <source src="https://www.youtube.com/embed/bT9csxkth8g"  />
          </video> -->
          <!-- <iframe width="420" height="315"
            src="https://www.youtube.com/embed/bT9csxkth8g?autoplay=1&mute=1">
           </iframe> -->
            <h3>Description</h3>

           <h5 class="paragraph">{{anime.description}}</h5>

        </article>

      <footer>

        <a href="/anime/"><button class="btn btn-primary">Back to Main Menu</button></a>

        <a href="/anime/{{ anime._id }}/edit"><button class="btn btn-success">EDIT Anime</button></a>
       
        
        <form action="/anime/{{ anime._id }}?_method=DELETE" method="POST">
            <input class="delete" type="submit" value="Remove from Watchlist" />
          </form>

        </footer>
      </div>
{% endblock %}