{% layout "layout.liquid" %} 

{% block content %}
      <div>
        <article>
            <h2>{{anime.title}}</h2>
            <img src={{anime.img}}>
            <iframe width="620" height="420"
            src={{anime.video}}>
           </iframe>
           <!-- <video id="videoPlayer" width="650" controls muted="muted" autoplay>
            <source src="https://www.youtube.com/embed/bT9csxkth8g"  />
          </video> -->
          <!-- <iframe width="420" height="315"
            src="https://www.youtube.com/embed/bT9csxkth8g?autoplay=1&mute=1">
           </iframe> -->
            <h3>Description</h3>
            {{anime.description}}
        </article>
       
        <a href="/anime/"><button>Back to Main Menu</button></a>
        <a href="/anime/{{ anime._id }}/edit"><button>EDIT Anime</button></a>
        <form action="/anime/{{ anime._id }}?_method=DELETE" method="POST">
            <input class="delete" type="submit" value="Remove from Watchlist" />
          </form>
      </div>
{% endblock %}